<header>
    <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
        <div id="nav-anchor">
            {%- include nav.html -%}
        </div>
        <div class="navigation" id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">
                {%- include nav.html -%}
            </div>
        </div>
    </div>
</header>