{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths | reverse -%}

{%- if page_paths -%}
<nav class="navigation">
    {%- for path in page_paths -%}
        {%- assign x = site.pages | where: "path", path | first -%}
        {%- if x.title -%}
            {%- if x.title != "404" -%}
            <a class="nav-item" href="{{ x.url | relative_url }}">{{ x.title }}</a>
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
</nav>
{%- endif -%}