@charset 'utf-8';

$color-primary: rgb(240, 0, 0);
$color-background: #29292e;
$color-background-inner: #303035;
$color-font: #fff;
$color-font-thin: rgb(194, 194, 194);
$color-border: $color-primary !default;
$color-border-thin: rgb(100, 100, 100);
$color-font-link: #2a7ae2;
$color-font-link-visited: #1756a9;